/* *{
    box-sizing: border-box;
} */
.important{
    color: blueviolet;
}
.wise{
    color: brown;
}
.color{
    color: rgb(53, 40, 83);
}
body{
    background-color: lightsteelblue;
    border-radius: 2px;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}
 /* img{
    border-radius: 45px;
    width: 20%;
} */
.row{
    display: flex; 
    justify-content: space-between;
    border:1px solid black;
}
.column{
    display: inline-block;
    width: 50%;
    margin: 20px;
}
.column2{
    display: inline-block;
    width: 50%;
    margin: 20px;

}
h1{
    font-size: 50px;
    text-align: center;
}















