.important{
    color: blueviolet;
}
.wise{
    color: brown;
}
.color{
    color: rgb(53, 40, 83);
}
body{
    background-color: lightsteelblue;
    border-radius: 2px;
}
img{
    border-radius: 45px;
    width: 20%;
}